#croppedImage{
    width:260px;
    height:170px;
    margin-left:5%;
}
#croppedCircleImage{
    width:225px;
    height:225px;
    margin-left:5%;
	border-radius:50%;
}
#selectShape{
    margin-left: 5%;
    margin-top: 3%;
}
#selectImage{
    margin-left: -2%;
}
.cropArea {
     background: #E4E4E4;
    overflow: hidden;
    width: 305px;
    height: 190px;
}